.accordion-wrapper {
     border: 1px solid #ddd;
     border-radius: 4px;
     overflow: hidden;
     padding: 0 !important;
     background-color: #fff;
}

.accordion-item {
     border-bottom: 1px solid #ddd;
}

.accordion-title {
     width: 100%;
     padding: 1rem;
     border: 0;
     background: none;
     text-align: left;
     font-size: 1.15rem;
     cursor: pointer;
     position: relative;
     background-color: #f2f2f2;
}

.accordion-title p{
     padding: 0;
     margin: 0;
}

/* Plus / Minus icon */
.accordion-title::after {
     content: '+';
     position: absolute;
     right: 16px;
     top: 50%;
     font-size: 20px;
     margin-top: -16px;
     transition: transform 0.3s ease;
}

.accordion-item.open .accordion-title::after {
     content: '−';
}

.accordion-content {
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.35s ease;
}

.accordion-content-inner {
     font-size: 1rem;
     padding: 0 1rem 1rem;
}